.reviewForm {
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
    padding: 43px 70px;
    margin-bottom: 22px;
    border-radius: 20px;

    text-align: left;
    letter-spacing: 1.5px;
    
    width: 550px;
    
    > h2 {
        font-size: 24px;
        margin-bottom: 32px;
        font-weight: bold;
    }
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 296px;
}

.dataInsertion {
    display: flex;
    flex-direction: column;
    
    textarea {
        font-family: Inter, sans-serif;
        font-size: 14px;
        
        resize: none;
        margin-top: 27px;
        padding: 3px;
        height: 113px;
        
        background: none;
        color: #909090;
        border: #dcdcdc 1px solid;
        border-radius: 5px;
    }
}

.submitButton {
    background: #c0c0c0;
    color: white;
    margin: 20px 0 0 calc(100% - 120px);
}