.wrapper {
    display: flex;
    justify-content: center;

    margin: 5px;
    width: 60%;

    > input {
        width: 20%;
        padding: 8px;
        border: black solid 1px;
        border-right: none;
        border-radius: 5px 0 0 5px;
    }

    > select {
        width: 80%;
        padding: 8px;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
}